.progress-label-left {
    float: left;
    margin-right: 0.5em;
    line-height: 1em;
}

.progress-label-right {
    float: right;
    margin-left: 0.3em;
    line-height: 1em;
}

.star-light {
    color: #e9ecef;
}